<!--Author:     Disha Agrawal
    Description: Html page to take company id and display the logo ch
    Date:   06th August 2019
-->
<html>
    <h1>Company Logo Generator</h1>
        <form action="/api/v1/resources/company">
            Enter the company id:<br>
            <input required type="text" name="id" value=""><br>
            <input type="submit" value="Submit">
        </form>
        <p>{% if companyLogo.status == "200" %}
            Company Name: {{companyLogo.data["Company Name"]}}<br>
            Company Logo Characters: {{companyLogo.data.logoCharacters}}
            {% elif  companyLogo.status != "200" %}
            {{companyLogo.data}}
            {% endif %}
        </p>

</html>